@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  @apply text-white bg-black
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-moz-selection {
  @apply bg-violet-500/60;
}

::selection {
  @apply bg-violet-500/60;
}